

<fieldset>
    <legend>
        <h3>Details for {{ pet.name }}</h3>
    </legend>
    <div class="details">
        <p>Pet Type: {{ pet.type }}</p>
        <p>Description: {{ pet.description }}</p>
        <div>Skills: 
            <ul>
                <li *ngIf="pet.skill1">{{ pet.skill1 }}</li>
                <li *ngIf="pet.skill2">{{ pet.skill2 }}</li>
                <li *ngIf="pet.skill3">{{ pet.skill3 }}</li>
            </ul>
        </div>
        <p>Likes: {{ pet.likes }}</p>
    </div>
</fieldset>


<button *ngIf="isLiked" (click)="likePet(pet._id)" disabled class="btn">Like this pet!</button>
<button *ngIf="!isLiked" (click)="likePet(pet._id)" class="btn">Like this pet!</button>
<button (click)="adoptPet(pet._id)" class="btn">Adopt this pet!</button>